%h1 Listing reviews

%table.table.table-striped.datatable
  %thead
    %tr
      %th ID
      %th Product
      %th Author
      %th Rating
      %th Date
      %th Actions
  %tbody
    - @reviews.each do |review|
      %tr
        %td=review.review_id
        %td=review.name
        %td=review.nick
        %td=review.rating
        %td=review.created_date
        %td
          = link_to 'Show', review
          = link_to 'Edit', edit_review_path(review)
          = button_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

:javascript
  console.log('ready!');
    $('.datatable').dataTable({
      "sPaginationType": "bootstrap"
    });
