%h2 Stores
%p Are you running a store? Would you like to have your offer available here? Do not hesitate to <a href="/contact">contact</a> with us!
%table{:class =>"table table-hover table-striped table-bordered table-condensed datatable"}
	%thead
		%tr
			%th Store Name
			%th Store Website
			%th Zip-Code
			%th Actions
	%tbody
		- @stores.each do |store|
			%tr
				%td=store.name
				%td=store.website
				%td=store.zip_code
				%td
					%a{:href=>"/stores/#{store.store_id}"}
						Browse offer