<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Products Statistics<span class="fa arrow"></span></a>
      </li>
      <li>
        <a><i class="fa fa-bar-chart-o fa-fw"></i> <font color="black">Manage</font><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/storeusers">Store users</a>
          </li>
          <li>
            <a href="/storeproducts">Store products</a>
          </li>
          <li>
            <a href="/offers/index">Price quotations</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/tickets"><i class="fa fa-envelope-o fa-fw"></i> Tickets<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/list_user_tickets">User tickets</a>
          </li>
          <li>
            <a href="/list_admin_tickets">Admin tickets</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->