%h3 Change password
.row
	.col-md-6
		- if @user.errors.any?
			%h4	Form problems:
			%ul.Signup_Errors
				-for message_error in @user.errors.full_messages
					%li
						* #{message_error}
		%form{:action =>"change_password", :method=>"post"}
			%input{:name=> "authenticity_token", :type=>"hidden", :value=> form_authenticity_token }
			.form-group
				%label Current Password
				%input.form-control{:name=>"old_password", :type=>"password"}
			.form-group
				%label New password
				%input.form-control{:name=>"password", :type=>"password"}
			.form-group
				%label Password confirmation
				%input.form-control{:name=>"password_confirmation", :type=>"password"}
			%button{:type=>"submit", :class=>"btn btn-success"}
				Change password
