%h3 Watched products
%table{:class =>"table table-hover table-striped table-bordered table-condensed datatable"}
	%thead
		%tr
			%th{:style=>"width: 30px"}
				%a{:class=>"btn btn-danger btn-sm", :href=>"#", :id=>"compare-btn"}
					Compare
			%th{:style=>"min-width: 150px;"}= 'Name'
			%th= 'Date added'
	%tbody
		- @userwatchedproducts.each do |userproduct|
			%tr
				%td
					%input{:type=> "checkbox", :value=> userproduct.product.product_id, :class => "compare-checkbox"}
				%td= link_to userproduct.product.name, userproduct.product
				%td 
					%abbr{:class=> "timeago", :title=> userproduct.user_watch_prod_date }= userproduct.user_watch_prod_date