%div#footer
	.container
		%p.col-md-6
			%a{:href=>"/cookie_policy"}
				Cookie Policy 
			| 
			%a{:href=>"/privacy_policy"}
				Privacy Policy
			|
			%a{:href=>"/about"}
				About
			|
			%a{:href=>"/contact"}
				Contact
		%p.col-md-4.pull-right
			&copy; 2013-2014 Oak Search Team @ PJWSTK