<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/admins">Administrators</a>
          </li>
          </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Statistics<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/top/products">Top products</a>
          </li>
          <li>
            <a href="/top/stores">Top stores</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Manage<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/products">Products</a>
          </li>
          <li>
            <a href="/features">Features</a>
          </li>
          <li>
            <a href="/users">Users</a>
          </li>
          <li>
            <a href="/reviews">Reviews</a>
          </li>
          <li>
            <a href="/zipcodes">ZIP codes</a>
          </li>
        </ul>
      </li>
       <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Mange Stores<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/stores">Stores</a>
          </li>
          <li>
            <a href="/storeusers">Store users</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/tickets"><i class="fa fa-envelope-o fa-fw"></i> Tickets<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/list_user_tickets">From users</a>
          </li>
          <li>
            <a href="/list_store_tickets">From stores</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/sessions/logout"><i class="fa fa-off fa-fw"></i> <b>Logout</b></a>
      </li>
      <!--<li>
        <a href="/helpdesk"><i class="fa fa-edit fa-fw"></i> Helpdesk</a>
      </li>-->

    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->