%h3 Products recently updated
%table{:class =>"table table-hover table-striped table-bordered table-condensed datatable"}
	%thead
		%tr
			%th{:style=>"width: 30px"}
				%a{:class=>"btn btn-default btn-xs", :href=>"#", :id=>"compare-btn"}
					Compare
			%th{:style=>"min-width: 150px;"}= 'Name'
			%th= 'Date updated'
	%tbody
		- @products.each do |product|
			%tr
				%td
					%input{:type=> "checkbox", :value=> product.product_id, :class => "compare-checkbox"}
				%td= link_to product.name, product
				%td 
					%abbr{:class=> "timeago", :title=> product.modified_date }= product.modified_date