%h1.page-header
	Welcome to the Oak ShopAdmin panel!
.col-md-1
.col-md-11.well
	This interface will help you to manage your shop on the Oak platform.
	You can easily:
	%ul
		%li
			View products statistics
		%li
			View your shop statistics
		%li
			Create,edit, update and remove store users
		%li
			Create,edit, update and remove store products and set their prices
		%li
			Answer to people's price quotations with the best prices on the market
	%p After finished work please remember to log out. Logout link can be found in upper-right corner dropdown menu. Just click on your username there.