%h1 about :)
.row
	.col-md-1
	.col-md-8.well
		About: Our service provides a variety of electronic products for you to browse, compare, and purchase. Through our system users can find items they seek through simple search. They may create their own online stores with the items we carry. As well as enter auctions and many other features that you will discover through using our service.