%h1 Cookie Policy
.row
	.col-md-1
	.col-md-8.well
		Cookie policy: We use cookies in order to track the users browse history. Through this we are able to make suggestions to you about recent offers that have come about, or help answer any questions. This information is held in confidentiality and will not be shared with anyone.

		%b
			We love cookies like HODOR loves HODOR so they are HODOR-safe with HODOR... us!