%h1 Privacy Policy
.row
	.col-md-1
	.col-md-8.well
		Privacy Policy: Any information you choose to share with us will be held confidential. Personal information is for our identity purposes only. We thank you for your cooperation, if you have any other questions regarding personal information don't hesitate to contact us.
